{
  "openapi": "3.0.1",
  "info": {
    "title": "A3Laboral Services API",
    "description": "Estas son las API de a3Laboral...",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://a3api.wolterskluwer.es/Laboral"
    }
  ],
  "paths": {
    "/api/agreements/{agreementcode}": {
      "get": {
        "tags": [
          "agreements"
        ],
        "summary": "Get agreement by agreement code (Auth)",
        "description": "Get agreement by agreement code (Auth)",
        "operationId": "Agreements_GetAgreement",
        "parameters": [
          {
            "name": "agreementcode",
            "in": "path",
            "description": "agreement code",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "description": "Api version",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Subscription Key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns list of Holiday Dates",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgreementModel"
                },
                "example": {
                  "agreementID": "00000000-0000-0000-0000-000000000000",
                  "description": "string",
                  "endDate": "string",
                  "startDate": "string",
                  "holidaysDaysNumber": 0,
                  "holidaysDaysType": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgreementModel"
                },
                "example": {
                  "agreementID": "00000000-0000-0000-0000-000000000000",
                  "description": "string",
                  "endDate": "string",
                  "startDate": "string",
                  "holidaysDaysNumber": 0,
                  "holidaysDaysType": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AgreementModel"
                },
                "example": "<AgreementModel> <agreementID>00000000-0000-0000-0000-000000000000</agreementID> <description>string</description> <endDate>string</endDate> <startDate>string</startDate> <holidaysDaysNumber>0</holidaysDaysNumber> <holidaysDaysType>string</holidaysDaysType> </AgreementModel>"
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AgreementModel"
                },
                "example": "<AgreementModel> <agreementID>00000000-0000-0000-0000-000000000000</agreementID> <description>string</description> <endDate>string</endDate> <startDate>string</startDate> <holidaysDaysNumber>0</holidaysDaysNumber> <holidaysDaysType>string</holidaysDaysType> </AgreementModel>"
              }
            }
          },
          "400": {
            "description": "Invalid input parameters",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          }
        }
      }
    },
    "/api/agreements/{agreementcode}/extrapaygroups": {
      "get": {
        "tags": [
          "agreements"
        ],
        "summary": "Get extra payments for agreement by code (Auth)",
        "description": "Get extra payments for agreement by code (Auth)",
        "operationId": "Agreements_GetAgreementsExtraPays",
        "parameters": [
          {
            "name": "agreementcode",
            "in": "path",
            "description": "agreement code",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "description": "Api version",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Subscription Key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns list of extra pay groups",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayGroupModelArray"
                },
                "example": [
                  {
                    "description": "string",
                    "groupID": "00000000-0000-0000-0000-000000000000"
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayGroupModelArray"
                },
                "example": [
                  {
                    "description": "string",
                    "groupID": "00000000-0000-0000-0000-000000000000"
                  }
                ]
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PayGroupModelArray"
                },
                "example": "<PayGroupModelArray> <description>string</description> <groupID>00000000-0000-0000-0000-000000000000</groupID> </PayGroupModelArray>"
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PayGroupModelArray"
                },
                "example": "<PayGroupModelArray> <description>string</description> <groupID>00000000-0000-0000-0000-000000000000</groupID> </PayGroupModelArray>"
              }
            }
          },
          "400": {
            "description": "Invalid input parameters",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          }
        }
      }
    },
    "/api/calendars/day-types": {
      "get": {
        "tags": [
          "calendars"
        ],
        "summary": "Get a list of calendar day types (Auth)",
        "description": "Get a list of calendar day types (Auth)",
        "operationId": "Calendar_GetCalendarDayTypes",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "description": "Api version",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Subscription Key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Calendar Day types",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalendarDayTypeModelArray"
                },
                "example": [
                  {
                    "dayTypeID": 0,
                    "description": "string"
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalendarDayTypeModelArray"
                },
                "example": [
                  {
                    "dayTypeID": 0,
                    "description": "string"
                  }
                ]
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CalendarDayTypeModelArray"
                },
                "example": "<CalendarDayTypeModelArray> <dayTypeID>0</dayTypeID> <description>string</description> </CalendarDayTypeModelArray>"
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CalendarDayTypeModelArray"
                },
                "example": "<CalendarDayTypeModelArray> <dayTypeID>0</dayTypeID> <description>string</description> </CalendarDayTypeModelArray>"
              }
            }
          },
          "400": {
            "description": "Invalid input parameters",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          }
        }
      }
    },
    "/api/calendars/work-day-types": {
      "get": {
        "tags": [
          "calendars"
        ],
        "summary": "Get a list of calendar workday types (Auth)",
        "description": "Get a list of calendar workday types (Auth)",
        "operationId": "Calendar_GetCalendarWorkDayTypes",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "description": "Api version",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Subscription Key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Calendar Work Day types",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalendarWorkDayTypeModelArray"
                },
                "example": [
                  {
                    "workDayTypeID": 0,
                    "description": "string"
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalendarWorkDayTypeModelArray"
                },
                "example": [
                  {
                    "workDayTypeID": 0,
                    "description": "string"
                  }
                ]
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CalendarWorkDayTypeModelArray"
                },
                "example": "<CalendarWorkDayTypeModelArray> <workDayTypeID>0</workDayTypeID> <description>string</description> </CalendarWorkDayTypeModelArray>"
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CalendarWorkDayTypeModelArray"
                },
                "example": "<CalendarWorkDayTypeModelArray> <workDayTypeID>0</workDayTypeID> <description>string</description> </CalendarWorkDayTypeModelArray>"
              }
            }
          },
          "400": {
            "description": "Invalid input parameters",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          }
        }
      }
    },
    "/api/companies/{companycode}/holidays/{date}": {
      "get": {
        "tags": [
          "companies"
        ],
        "summary": "Get Collection Percentages (Auth)",
        "description": "Get Collection Percentages (Auth)",
        "operationId": "HolidaysPercentagesCollection_GetCollectionPercentages",
        "parameters": [
          {
            "name": "companycode",
            "in": "path",
            "description": "Format - int32.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date",
            "in": "path",
            "description": "Format - date-time (as date-time in RFC3339).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Format - int32.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Format - int32.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "description": "Api version",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Subscription Key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns holidays percentages data",
            "headers": {
              "x-pagination": {
                "description": "Collection pagination",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HolidaysPercentagesCollectionResourceArray"
                },
                "example": [
                  {
                    "percentage": 0,
                    "description": "string"
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/HolidaysPercentagesCollectionResourceArray"
                },
                "example": [
                  {
                    "percentage": 0,
                    "description": "string"
                  }
                ]
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/HolidaysPercentagesCollectionResourceArray"
                },
                "example": "<HolidaysPercentagesCollectionResourceArray> <percentage>0</percentage> <description>string</description> </HolidaysPercentagesCollectionResourceArray>"
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/HolidaysPercentagesCollectionResourceArray"
                },
                "example": "<HolidaysPercentagesCollectionResourceArray> <percentage>0</percentage> <description>string</description> </HolidaysPercentagesCollectionResourceArray>"
              }
            }
          },
          "400": {
            "description": "Invalid input parameters",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          }
        }
      }
    },
    "/api/companies/{companycode}/employees/{employeecode}/temporarydisabilities/accidents": {
      "get": {
        "tags": [
          "companies"
        ],
        "summary": "Returns employee temporary disabilities accidents collection (Auth)",
        "description": "GET /api/companies/11902/employees/000005/temporarydisabilities/accidents<br />",
        "operationId": "AccidentsCollection_GetCollectionAccidents",
        "parameters": [
          {
            "name": "companycode",
            "in": "path",
            "description": "Format - int32. Company code",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "employeecode",
            "in": "path",
            "description": "Employee code",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Format - int32. Page number",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Format - int32. Number of items",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filter selection: startDate, endDate",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Order results:  startDate, endDate",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "description": "Api version",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Subscription Key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns employees temporary disabilities accidents collection",
            "headers": {
              "x-pagination": {
                "description": "Collection pagination",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccidentsCollectionResourceArray"
                },
                "example": [
                  {
                    "accidentId": "00000000-0000-0000-0000-000000000000",
                    "startDate": "string",
                    "endDate": "string",
                    "lastUpdate": "string"
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccidentsCollectionResourceArray"
                },
                "example": [
                  {
                    "accidentId": "00000000-0000-0000-0000-000000000000",
                    "startDate": "string",
                    "endDate": "string",
                    "lastUpdate": "string"
                  }
                ]
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AccidentsCollectionResourceArray"
                },
                "example": "<AccidentsCollectionResourceArray> <accidentId>00000000-0000-0000-0000-000000000000</accidentId> <startDate>string</startDate> <endDate>string</endDate> <lastUpdate>string</lastUpdate> </AccidentsCollectionResourceArray>"
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AccidentsCollectionResourceArray"
                },
                "example": "<AccidentsCollectionResourceArray> <accidentId>00000000-0000-0000-0000-000000000000</accidentId> <startDate>string</startDate> <endDate>string</endDate> <lastUpdate>string</lastUpdate> </AccidentsCollectionResourceArray>"
              }
            }
          },
          "400": {
            "description": "Invalid input parameters",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          }
        }
      },
      "post": {
        "tags": [
          "companies"
        ],
        "summary": "Creates employee accident (Auth)",
        "description": "POST /api/companies/11902/employees/000005/temporarydisabilities/accidents<br />\r\n{<br />\r\n   \"inputData\": \"<br />\r\n     {<br />        \r\n         \"startDate\": \"2019-04-01T10:00:00.000Z\",<br />\r\n         \"endDate\": \"2019-04-01T10:00:00.000Z\",<br />\r\n         \"benefitType\": \"Direct payment\",<br />\r\n         \"indComplement\": \"true\",<br />        \r\n     }\"<br />\r\n}<br />",
        "operationId": "Accidents_PostAccident",
        "parameters": [
          {
            "name": "companycode",
            "in": "path",
            "description": "Format - int32. Company code",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "employeecode",
            "in": "path",
            "description": "Employee code",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "description": "Api version",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Subscription Key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Accident code",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccidentsResource"
              },
              "example": {
                "startDate": "2019-10-01T00:00:00.0000000+00:00",
                "endDate": "2019-10-31T00:00:00.0000000+00:00",
                "benefitTypeID": "No Right to Benefit",
                "indComplement": true
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/AccidentsResource"
              },
              "example": {
                "startDate": "2019-10-01T00:00:00.0000000+00:00",
                "endDate": "2019-10-31T00:00:00.0000000+00:00",
                "benefitTypeID": "No Right to Benefit",
                "indComplement": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Creates employee accident",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccidentsResource"
                },
                "example": {
                  "startDate": "2019-10-01T00:00:00.0000000+00:00",
                  "endDate": "2019-10-31T00:00:00.0000000+00:00",
                  "benefitTypeID": "No Right to Benefit",
                  "indComplement": true
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccidentsResource"
                },
                "example": {
                  "startDate": "2019-10-01T00:00:00.0000000+00:00",
                  "endDate": "2019-10-31T00:00:00.0000000+00:00",
                  "benefitTypeID": "No Right to Benefit",
                  "indComplement": true
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AccidentsResource"
                },
                "example": "<AccidentsResource>{\r\n  \"startDate\": \"2019-10-01T00:00:00Z\",\r\n  \"endDate\": \"2019-10-31T00:00:00Z\",\r\n  \"benefitTypeID\": \"No Right to Benefit\",\r\n  \"indComplement\": true\r\n}</AccidentsResource>"
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AccidentsResource"
                },
                "example": "<AccidentsResource>{\r\n  \"startDate\": \"2019-10-01T00:00:00Z\",\r\n  \"endDate\": \"2019-10-31T00:00:00Z\",\r\n  \"benefitTypeID\": \"No Right to Benefit\",\r\n  \"indComplement\": true\r\n}</AccidentsResource>"
              }
            }
          },
          "400": {
            "description": "Invalid input parameters",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          }
        }
      }
    },
    "/api/companies/{companycode}/employees/{employeecode}/temporarydisabilities/nonworkaccidents/{nonworkaccidentId}": {
      "get": {
        "tags": [
          "companies"
        ],
        "summary": "Get employee temporary dissabitilty non work accident data (Auth)",
        "description": "GET /api/companies/11902/employees/000005/temporarydisabilities/nonworkaccidents/{nonworkaccidentId}<br />",
        "operationId": "NonWorkAccidents_GetNonWorkAccidents",
        "parameters": [
          {
            "name": "companycode",
            "in": "path",
            "description": "Format - int32. Company code",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "employeecode",
            "in": "path",
            "description": "Employee code",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nonworkaccidentId",
            "in": "path",
            "description": "Format - uuid. nonworkaccidentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "description": "Api version",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Subscription Key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns employee temporary disability non work accident data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NonWorkAccidentsResource"
                },
                "example": {
                  "startDate": "2019-10-01T00:00:00.0000000+00:00",
                  "endDate": "2019-10-31T00:00:00.0000000+00:00",
                  "benefitTypeID": "No Right to Benefit",
                  "indComplement": true
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NonWorkAccidentsResource"
                },
                "example": {
                  "startDate": "2019-10-01T00:00:00.0000000+00:00",
                  "endDate": "2019-10-31T00:00:00.0000000+00:00",
                  "benefitTypeID": "No Right to Benefit",
                  "indComplement": true
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/NonWorkAccidentsResource"
                },
                "example": "<NonWorkAccidentsResource>{\r\n  \"startDate\": \"2019-10-01T00:00:00Z\",\r\n  \"endDate\": \"2019-10-31T00:00:00Z\",\r\n  \"benefitTypeID\": \"No Right to Benefit\",\r\n  \"indComplement\": true\r\n}</NonWorkAccidentsResource>"
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/NonWorkAccidentsResource"
                },
                "example": "<NonWorkAccidentsResource>{\r\n  \"startDate\": \"2019-10-01T00:00:00Z\",\r\n  \"endDate\": \"2019-10-31T00:00:00Z\",\r\n  \"benefitTypeID\": \"No Right to Benefit\",\r\n  \"indComplement\": true\r\n}</NonWorkAccidentsResource>"
              }
            }
          },
          "400": {
            "description": "Invalid input parameters",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          }
        }
      }
    },
    "/api/companies/{companycode}/employees/{employeecode}/temporarydisabilities/nonworkaccidents": {
      "post": {
        "tags": [
          "companies"
        ],
        "summary": "Creates employee non work accidents (Auth)",
        "description": "POST /api/companies/11902/employees/000005/temporarydisabilities/nonworkaccidents<br />\r\n{<br />\r\n   \"inputData\": \"<br />\r\n     {<br />        \r\n         \"startDate\": \"2019-04-01T10:00:00.000Z\",<br />\r\n         \"endDate\": \"2019-04-01T10:00:00.000Z\",<br />\r\n         \"benefitType\": \"Direct payment\",<br />\r\n         \"indComplement\": \"true\",<br />        \r\n     }\"<br />\r\n}<br />",
        "operationId": "NonWorkAccidents_PostIllness",
        "parameters": [
          {
            "name": "companycode",
            "in": "path",
            "description": "Format - int32. Company code",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "employeecode",
            "in": "path",
            "description": "Employee code",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "description": "Api version",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Subscription Key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Nonworkaccident code",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NonWorkAccidentsResource"
              },
              "example": {
                "startDate": "2019-10-01T00:00:00.0000000+00:00",
                "endDate": "2019-10-31T00:00:00.0000000+00:00",
                "benefitTypeID": "No Right to Benefit",
                "indComplement": true
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/NonWorkAccidentsResource"
              },
              "example": {
                "startDate": "2019-10-01T00:00:00.0000000+00:00",
                "endDate": "2019-10-31T00:00:00.0000000+00:00",
                "benefitTypeID": "No Right to Benefit",
                "indComplement": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Creates employee illness",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NonWorkAccidentsResource"
                },
                "example": {
                  "startDate": "2019-10-01T00:00:00.0000000+00:00",
                  "endDate": "2019-10-31T00:00:00.0000000+00:00",
                  "benefitTypeID": "No Right to Benefit",
                  "indComplement": true
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NonWorkAccidentsResource"
                },
                "example": {
                  "startDate": "2019-10-01T00:00:00.0000000+00:00",
                  "endDate": "2019-10-31T00:00:00.0000000+00:00",
                  "benefitTypeID": "No Right to Benefit",
                  "indComplement": true
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/NonWorkAccidentsResource"
                },
                "example": "<NonWorkAccidentsResource>{\r\n  \"startDate\": \"2019-10-01T00:00:00Z\",\r\n  \"endDate\": \"2019-10-31T00:00:00Z\",\r\n  \"benefitTypeID\": \"No Right to Benefit\",\r\n  \"indComplement\": true\r\n}</NonWorkAccidentsResource>"
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/NonWorkAccidentsResource"
                },
                "example": "<NonWorkAccidentsResource>{\r\n  \"startDate\": \"2019-10-01T00:00:00Z\",\r\n  \"endDate\": \"2019-10-31T00:00:00Z\",\r\n  \"benefitTypeID\": \"No Right to Benefit\",\r\n  \"indComplement\": true\r\n}</NonWorkAccidentsResource>"
              }
            }
          },
          "400": {
            "description": "Invalid input parameters",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          }
        }
      },
      "get": {
        "tags": [
          "companies"
        ],
        "summary": "Returns employee temporary disabilities non work accidents collection (Auth)",
        "description": "GET /api/companies/11902/employees/000005/temporarydisabilities/nonworkaccidents<br />",
        "operationId": "GetNonWorkAccidentsForEmployee",
        "parameters": [
          {
            "name": "companycode",
            "in": "path",
            "description": "Format - int32. Company code",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "employeecode",
            "in": "path",
            "description": "Employee code",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Format - int32. Page number",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Format - int32. Number of items",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filter selection: startDate, endDate",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Order results:  startDate, endDate",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "description": "Api version",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Subscription Key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns employees temporary disabilities non work accidents collection",
            "headers": {
              "x-pagination": {
                "description": "Collection pagination",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NonWorkAccidentsCollectionResourceArray"
                },
                "example": [
                  {
                    "nonWorkAccidentId": "00000000-0000-0000-0000-000000000000",
                    "startDate": "string",
                    "endDate": "string",
                    "lastUpdate": "string"
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NonWorkAccidentsCollectionResourceArray"
                },
                "example": [
                  {
                    "nonWorkAccidentId": "00000000-0000-0000-0000-000000000000",
                    "startDate": "string",
                    "endDate": "string",
                    "lastUpdate": "string"
                  }
                ]
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/NonWorkAccidentsCollectionResourceArray"
                },
                "example": "<NonWorkAccidentsCollectionResourceArray> <nonWorkAccidentId>00000000-0000-0000-0000-000000000000</nonWorkAccidentId> <startDate>string</startDate> <endDate>string</endDate> <lastUpdate>string</lastUpdate> </NonWorkAccidentsCollectionResourceArray>"
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/NonWorkAccidentsCollectionResourceArray"
                },
                "example": "<NonWorkAccidentsCollectionResourceArray> <nonWorkAccidentId>00000000-0000-0000-0000-000000000000</nonWorkAccidentId> <startDate>string</startDate> <endDate>string</endDate> <lastUpdate>string</lastUpdate> </NonWorkAccidentsCollectionResourceArray>"
              }
            }
          },
          "400": {
            "description": "Invalid input parameters",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          }
        }
      }
    },
    "/api/companies/{companycode}/employees/{employeecode}/absenteeisms/holidays": {
      "put": {
        "tags": [
          "companies"
        ],
        "summary": "Update employee holidays (Auth)",
        "description": "PUT /api/companies/36511/employees/000002/absenteeisms/holidays/15CE7026-D602-474E-862D-895FD5463AAD<br />",
        "operationId": "HolidaysEntity_PutUnjustifiedAbsenteeism",
        "parameters": [
          {
            "name": "companycode",
            "in": "path",
            "description": "Format - int32. Company code",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "employeecode",
            "in": "path",
            "description": "Employee code",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "description": "Api version",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Subscription Key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Holidays absenteeismID",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HolidaysEntityResource"
              },
              "example": {
                "absenteeismID": "bf738cd1-1257-42c5-a510-24ce495ea149",
                "startDate": "2019-06-20T00:00:00.0000000+00:00",
                "endDate": "2019-06-30T00:00:00.0000000+00:00",
                "indLessThanOneDay": true,
                "percentageDayAbsenteeisms": 50
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/HolidaysEntityResource"
              },
              "example": {
                "absenteeismID": "bf738cd1-1257-42c5-a510-24ce495ea149",
                "startDate": "2019-06-20T00:00:00.0000000+00:00",
                "endDate": "2019-06-30T00:00:00.0000000+00:00",
                "indLessThanOneDay": true,
                "percentageDayAbsenteeisms": 50
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update employee unjustified absenteeism",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HolidaysEntityResource"
                },
                "example": {
                  "absenteeismID": "bf738cd1-1257-42c5-a510-24ce495ea149",
                  "startDate": "2019-06-20T00:00:00.0000000+00:00",
                  "endDate": "2019-06-30T00:00:00.0000000+00:00",
                  "indLessThanOneDay": true,
                  "percentageDayAbsenteeisms": 50
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/HolidaysEntityResource"
                },
                "example": {
                  "absenteeismID": "bf738cd1-1257-42c5-a510-24ce495ea149",
                  "startDate": "2019-06-20T00:00:00.0000000+00:00",
                  "endDate": "2019-06-30T00:00:00.0000000+00:00",
                  "indLessThanOneDay": true,
                  "percentageDayAbsenteeisms": 50
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/HolidaysEntityResource"
                },
                "example": "<HolidaysEntityResource>{\r\n  \"absenteeismID\": \"bf738cd1-1257-42c5-a510-24ce495ea149\",\r\n  \"startDate\": \"2019-06-20T00:00:00Z\",\r\n  \"endDate\": \"2019-06-30T00:00:00Z\",\r\n  \"indLessThanOneDay\": true,\r\n  \"percentageDayAbsenteeisms\": 50.0\r\n}</HolidaysEntityResource>"
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/HolidaysEntityResource"
                },
                "example": "<HolidaysEntityResource>{\r\n  \"absenteeismID\": \"bf738cd1-1257-42c5-a510-24ce495ea149\",\r\n  \"startDate\": \"2019-06-20T00:00:00Z\",\r\n  \"endDate\": \"2019-06-30T00:00:00Z\",\r\n  \"indLessThanOneDay\": true,\r\n  \"percentageDayAbsenteeisms\": 50.0\r\n}</HolidaysEntityResource>"
              }
            }
          },
          "400": {
            "description": "Invalid input parameters",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          }
        }
      },
      "post": {
        "tags": [
          "companies"
        ],
        "summary": "Insert employee holidays absenteeisms (Auth)",
        "description": "Insert employee holidays absenteeisms (Auth)",
        "operationId": "HolidaysEntity_PostMethodDetail",
        "parameters": [
          {
            "name": "companycode",
            "in": "path",
            "description": "Format - int32.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "employeecode",
            "in": "path",
            "description": "",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "description": "Api version",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Subscription Key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HolidaysEntityResource"
              },
              "example": {
                "absenteeismID": "bf738cd1-1257-42c5-a510-24ce495ea149",
                "startDate": "2019-06-20T00:00:00.0000000+00:00",
                "endDate": "2019-06-30T00:00:00.0000000+00:00",
                "indLessThanOneDay": true,
                "percentageDayAbsenteeisms": 50
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/HolidaysEntityResource"
              },
              "example": {
                "absenteeismID": "bf738cd1-1257-42c5-a510-24ce495ea149",
                "startDate": "2019-06-20T00:00:00.0000000+00:00",
                "endDate": "2019-06-30T00:00:00.0000000+00:00",
                "indLessThanOneDay": true,
                "percentageDayAbsenteeisms": 50
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Insert employee holidays absenteeisms",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HolidaysEntityResource"
                },
                "example": {
                  "absenteeismID": "bf738cd1-1257-42c5-a510-24ce495ea149",
                  "startDate": "2019-06-20T00:00:00.0000000+00:00",
                  "endDate": "2019-06-30T00:00:00.0000000+00:00",
                  "indLessThanOneDay": true,
                  "percentageDayAbsenteeisms": 50
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/HolidaysEntityResource"
                },
                "example": {
                  "absenteeismID": "bf738cd1-1257-42c5-a510-24ce495ea149",
                  "startDate": "2019-06-20T00:00:00.0000000+00:00",
                  "endDate": "2019-06-30T00:00:00.0000000+00:00",
                  "indLessThanOneDay": true,
                  "percentageDayAbsenteeisms": 50
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/HolidaysEntityResource"
                },
                "example": "<HolidaysEntityResource>{\r\n  \"absenteeismID\": \"bf738cd1-1257-42c5-a510-24ce495ea149\",\r\n  \"startDate\": \"2019-06-20T00:00:00Z\",\r\n  \"endDate\": \"2019-06-30T00:00:00Z\",\r\n  \"indLessThanOneDay\": true,\r\n  \"percentageDayAbsenteeisms\": 50.0\r\n}</HolidaysEntityResource>"
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/HolidaysEntityResource"
                },
                "example": "<HolidaysEntityResource>{\r\n  \"absenteeismID\": \"bf738cd1-1257-42c5-a510-24ce495ea149\",\r\n  \"startDate\": \"2019-06-20T00:00:00Z\",\r\n  \"endDate\": \"2019-06-30T00:00:00Z\",\r\n  \"indLessThanOneDay\": true,\r\n  \"percentageDayAbsenteeisms\": 50.0\r\n}</HolidaysEntityResource>"
              }
            }
          },
          "400": {
            "description": "Invalid input parameters",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          }
        }
      },
      "get": {
        "tags": [
          "companies"
        ],
        "summary": "Get employee holidays (Auth)",
        "description": "GET /api/companies/258/employees/000029/absenteeisms/holidays<br />",
        "operationId": "HolidaysEntity_GetEmployeeHolidays",
        "parameters": [
          {
            "name": "companycode",
            "in": "path",
            "description": "Format - int32. Company code",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "employeecode",
            "in": "path",
            "description": "Employee code",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Format - int32.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Format - int32.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "description": "Api version",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Subscription Key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns employee holidays",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HolidaysCollectionItemResource"
                },
                "example": {
                  "absenteeismID": "00000000-0000-0000-0000-000000000000",
                  "startDate": "string",
                  "endDate": "string",
                  "lastUpdate": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/HolidaysCollectionItemResource"
                },
                "example": {
                  "absenteeismID": "00000000-0000-0000-0000-000000000000",
                  "startDate": "string",
                  "endDate": "string",
                  "lastUpdate": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/HolidaysCollectionItemResource"
                },
                "example": "<HolidaysCollectionItemResource> <absenteeismID>00000000-0000-0000-0000-000000000000</absenteeismID> <startDate>string</startDate> <endDate>string</endDate> <lastUpdate>string</lastUpdate> </HolidaysCollectionItemResource>"
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/HolidaysCollectionItemResource"
                },
                "example": "<HolidaysCollectionItemResource> <absenteeismID>00000000-0000-0000-0000-000000000000</absenteeismID> <startDate>string</startDate> <endDate>string</endDate> <lastUpdate>string</lastUpdate> </HolidaysCollectionItemResource>"
              }
            }
          },
          "400": {
            "description": "Invalid input parameters",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          }
        }
      }
    },
    "/api/companies/{companycode}/employees/{employeecode}/temporarydisabilities/professionalillnesses": {
      "get": {
        "tags": [
          "companies"
        ],
        "summary": "Returns employee temporary disabilities professional illnesses collection (Auth)",
        "description": "GET /api/companies/11902/employees/000005/temporarydisabilities/professionalillnesses<br />",
        "operationId": "ProfessionalIllnessesCollection_GetCollectionProfessionalIllnesses",
        "parameters": [
          {
            "name": "companycode",
            "in": "path",
            "description": "Format - int32. Company code",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "employeecode",
            "in": "path",
            "description": "Employee code",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Format - int32. Page number",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Format - int32. Number of items",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filter selection: startDate, endDate",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Order results:  startDate, endDate",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "description": "Api version",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Subscription Key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns employees temporary disabilities professional illnesses collection",
            "headers": {
              "x-pagination": {
                "description": "Collection pagination",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfessionalIllnessesCollectionResourceArray"
                },
                "example": [
                  {
                    "professionalIllnessId": "00000000-0000-0000-0000-000000000000",
                    "startDate": "string",
                    "endDate": "string",
                    "lastUpdate": "string"
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfessionalIllnessesCollectionResourceArray"
                },
                "example": [
                  {
                    "professionalIllnessId": "00000000-0000-0000-0000-000000000000",
                    "startDate": "string",
                    "endDate": "string",
                    "lastUpdate": "string"
                  }
                ]
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ProfessionalIllnessesCollectionResourceArray"
                },
                "example": "<ProfessionalIllnessesCollectionResourceArray> <professionalIllnessId>00000000-0000-0000-0000-000000000000</professionalIllnessId> <startDate>string</startDate> <endDate>string</endDate> <lastUpdate>string</lastUpdate> </ProfessionalIllnessesCollectionResourceArray>"
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ProfessionalIllnessesCollectionResourceArray"
                },
                "example": "<ProfessionalIllnessesCollectionResourceArray> <professionalIllnessId>00000000-0000-0000-0000-000000000000</professionalIllnessId> <startDate>string</startDate> <endDate>string</endDate> <lastUpdate>string</lastUpdate> </ProfessionalIllnessesCollectionResourceArray>"
              }
            }
          },
          "400": {
            "description": "Invalid input parameters",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          }
        }
      },
      "post": {
        "tags": [
          "companies"
        ],
        "summary": "Creates employee professional illness (Auth)",
        "description": "POST /api/companies/11902/employees/000005/temporarydisabilities/professionalillnesses<br />\r\n{<br />\r\n   \"inputData\": \"<br />\r\n     {<br />        \r\n         \"startDate\": \"2019-04-01T10:00:00.000Z\",<br />\r\n         \"endDate\": \"2019-04-01T10:00:00.000Z\",<br />\r\n         \"benefitType\": \"Direct payment\",<br />\r\n         \"indComplement\": \"true\",<br />        \r\n     }\"<br />\r\n}<br />",
        "operationId": "ProfessionalIllnesses_PostIllness",
        "parameters": [
          {
            "name": "companycode",
            "in": "path",
            "description": "Format - int32. Company code",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "employeecode",
            "in": "path",
            "description": "Employee code",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "description": "Api version",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Subscription Key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Professional Illness code",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfessionalIllnessesResource"
              },
              "example": {
                "startDate": "2019-10-01T00:00:00.0000000+00:00",
                "endDate": "2019-10-31T00:00:00.0000000+00:00",
                "benefitTypeID": "No Right to Benefit",
                "indComplement": true
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/ProfessionalIllnessesResource"
              },
              "example": {
                "startDate": "2019-10-01T00:00:00.0000000+00:00",
                "endDate": "2019-10-31T00:00:00.0000000+00:00",
                "benefitTypeID": "No Right to Benefit",
                "indComplement": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Creates employee illness",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfessionalIllnessesResource"
                },
                "example": {
                  "startDate": "2019-10-01T00:00:00.0000000+00:00",
                  "endDate": "2019-10-31T00:00:00.0000000+00:00",
                  "benefitTypeID": "No Right to Benefit",
                  "indComplement": true
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfessionalIllnessesResource"
                },
                "example": {
                  "startDate": "2019-10-01T00:00:00.0000000+00:00",
                  "endDate": "2019-10-31T00:00:00.0000000+00:00",
                  "benefitTypeID": "No Right to Benefit",
                  "indComplement": true
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ProfessionalIllnessesResource"
                },
                "example": "<ProfessionalIllnessesResource>{\r\n  \"startDate\": \"2019-10-01T00:00:00Z\",\r\n  \"endDate\": \"2019-10-31T00:00:00Z\",\r\n  \"benefitTypeID\": \"No Right to Benefit\",\r\n  \"indComplement\": true\r\n}</ProfessionalIllnessesResource>"
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ProfessionalIllnessesResource"
                },
                "example": "<ProfessionalIllnessesResource>{\r\n  \"startDate\": \"2019-10-01T00:00:00Z\",\r\n  \"endDate\": \"2019-10-31T00:00:00Z\",\r\n  \"benefitTypeID\": \"No Right to Benefit\",\r\n  \"indComplement\": true\r\n}</ProfessionalIllnessesResource>"
              }
            }
          },
          "400": {
            "description": "Invalid input parameters",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          }
        }
      }
    },
    "/api/companies/{companycode}/employees/{employeecode}/temporarydisabilities/birthpermits": {
      "get": {
        "tags": [
          "companies"
        ],
        "summary": "Returns employee temporary disabilities birth permits collection (Auth)",
        "description": "GET /api/companies/11902/employees/000005/temporarydisabilities/birthpermits<br />",
        "operationId": "BirthPermitsCollection_GetCollectionBirthPermits",
        "parameters": [
          {
            "name": "companycode",
            "in": "path",
            "description": "Format - int32. Company code",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "employeecode",
            "in": "path",
            "description": "Employee code",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Format - int32. Page number",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Format - int32. Number of items",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filter selection: startDate, endDate",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Order results:  startDate, endDate",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "description": "Api version",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Subscription Key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns employees temporary disabilities birth permits collection",
            "headers": {
              "x-pagination": {
                "description": "Collection pagination",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BirthPermitsCollectionResourceArray"
                },
                "example": [
                  {
                    "birthPermitID": "00000000-0000-0000-0000-000000000000",
                    "startDate": "string",
                    "endDate": "string",
                    "incidentTypeID": "None",
                    "lastUpdate": "string"
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BirthPermitsCollectionResourceArray"
                },
                "example": [
                  {
                    "birthPermitID": "00000000-0000-0000-0000-000000000000",
                    "startDate": "string",
                    "endDate": "string",
                    "incidentTypeID": "None",
                    "lastUpdate": "string"
                  }
                ]
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BirthPermitsCollectionResourceArray"
                },
                "example": "<BirthPermitsCollectionResourceArray> <birthPermitID>00000000-0000-0000-0000-000000000000</birthPermitID> <startDate>string</startDate> <endDate>string</endDate> <incidentTypeID>None</incidentTypeID> <lastUpdate>string</lastUpdate> </BirthPermitsCollectionResourceArray>"
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BirthPermitsCollectionResourceArray"
                },
                "example": "<BirthPermitsCollectionResourceArray> <birthPermitID>00000000-0000-0000-0000-000000000000</birthPermitID> <startDate>string</startDate> <endDate>string</endDate> <incidentTypeID>None</incidentTypeID> <lastUpdate>string</lastUpdate> </BirthPermitsCollectionResourceArray>"
              }
            }
          },
          "400": {
            "description": "Invalid input parameters",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          }
        }
      },
      "post": {
        "tags": [
          "companies"
        ],
        "summary": "Creates employee birth permit (Auth)",
        "description": "POST /api/companies/11902/employees/000005/temporarydisabilities/birthpermits<br />\r\n{<br />\r\n   \"inputData\": \"<br />\r\n     {<br />        \r\n         \"startDate\": \"2019-04-01T10:00:00.000Z\",<br />\r\n         \"incidentTypeId\": \"Biological Mother\"<br />        \r\n     }\"<br />\r\n}<br />",
        "operationId": "BirthPermits_PostBirthPermit",
        "parameters": [
          {
            "name": "companycode",
            "in": "path",
            "description": "Format - int32. Company code",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "employeecode",
            "in": "path",
            "description": "Employee code",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "description": "Api version",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Subscription Key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BirthPermitsResource"
              },
              "example": {
                "startDate": "2019-10-01T00:00:00.0000000+00:00",
                "incidentTypeID": "Other Parent"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/BirthPermitsResource"
              },
              "example": {
                "startDate": "2019-10-01T00:00:00.0000000+00:00",
                "incidentTypeID": "Other Parent"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Creates employee birth permit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BirthPermitsResource"
                },
                "example": {
                  "startDate": "2019-10-01T00:00:00.0000000+00:00",
                  "incidentTypeID": "Other Parent"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BirthPermitsResource"
                },
                "example": {
                  "startDate": "2019-10-01T00:00:00.0000000+00:00",
                  "incidentTypeID": "Other Parent"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BirthPermitsResource"
                },
                "example": "<BirthPermitsResource>{\r\n  \"startDate\": \"2019-10-01T00:00:00Z\",\r\n  \"incidentTypeID\": \"Other Parent\"\r\n}</BirthPermitsResource>"
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BirthPermitsResource"
                },
                "example": "<BirthPermitsResource>{\r\n  \"startDate\": \"2019-10-01T00:00:00Z\",\r\n  \"incidentTypeID\": \"Other Parent\"\r\n}</BirthPermitsResource>"
              }
            }
          },
          "400": {
            "description": "Invalid input parameters",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          }
        }
      }
    },
    "/api/companies/{companycode}/employees/{employeecode}/temporarydisabilities/birthpermits/{birthpermitid}": {
      "delete": {
        "tags": [
          "companies"
        ],
        "summary": "Deletes employee birth permits (Auth)",
        "description": "DELETE /api/companies/36511/employees/000002//temporarydisabilities/birthpermits/{birthpermitid}<br />",
        "operationId": "BirthPermits_DeleteMethodDetail",
        "parameters": [
          {
            "name": "companycode",
            "in": "path",
            "description": "Format - int32. Company code",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "employeecode",
            "in": "path",
            "description": "Employee code",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "birthpermitid",
            "in": "path",
            "description": "Format - uuid. Birth permit id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "description": "Api version",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Subscription Key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete employee birth permit successfully",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          },
          "400": {
            "description": "Invalid input parameters",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          }
        }
      }
    },
    "/api/companies/{companycode}/workplaces/{companyworkplacecode}/calendars/{year}": {
      "get": {
        "tags": [
          "companies"
        ],
        "summary": "Get company workplace calendar by workplace code (Auth)",
        "description": "Get company workplace calendar by workplace code (Auth)",
        "operationId": "Calendar_GetCompanyWorkplaceCalendar",
        "parameters": [
          {
            "name": "companycode",
            "in": "path",
            "description": "Company Code",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "companyworkplacecode",
            "in": "path",
            "description": "optional workplace Id filter",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "year",
            "in": "path",
            "description": "Format - int32. Year",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagenumber",
            "in": "query",
            "description": "Format - int32. number of page",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "Format - int32. page size",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "description": "Api version",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Subscription Key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns company calendar for specified worklace code (Mandatory)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyWorkplaceCalendarModelArray"
                },
                "example": [
                  {
                    "date": "string",
                    "dayTypeID": 0,
                    "dayType": "string",
                    "workDayTypeID": 0,
                    "workDayType": "string"
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyWorkplaceCalendarModelArray"
                },
                "example": [
                  {
                    "date": "string",
                    "dayTypeID": 0,
                    "dayType": "string",
                    "workDayTypeID": 0,
                    "workDayType": "string"
                  }
                ]
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyWorkplaceCalendarModelArray"
                },
                "example": "<CompanyWorkplaceCalendarModelArray> <date>string</date> <dayTypeID>0</dayTypeID> <dayType>string</dayType> <workDayTypeID>0</workDayTypeID> <workDayType>string</workDayType> </CompanyWorkplaceCalendarModelArray>"
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyWorkplaceCalendarModelArray"
                },
                "example": "<CompanyWorkplaceCalendarModelArray> <date>string</date> <dayTypeID>0</dayTypeID> <dayType>string</dayType> <workDayTypeID>0</workDayTypeID> <workDayType>string</workDayType> </CompanyWorkplaceCalendarModelArray>"
              }
            }
          },
          "400": {
            "description": "Invalid input parameters",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          }
        }
      }
    },
    "/api/companies/{companycode}/employees/{employeecode}/variableconcepts/{variableconceptcode}": {
      "delete": {
        "tags": [
          "companies"
        ],
        "summary": "Deletes employee variable concept (Auth)",
        "description": "DELETE /api/companies/258/employees/000049/variableconcept/25C3D5F6-4BC5-42FD-9610-0000EA087647<br />",
        "operationId": "EmployeesVariableConcepts_DeleteVariableConcept",
        "parameters": [
          {
            "name": "companycode",
            "in": "path",
            "description": "Format - int32. Company code",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "employeecode",
            "in": "path",
            "description": "Employee code",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "variableconceptcode",
            "in": "path",
            "description": "Format - uuid. Variable concept code",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "description": "Api version",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Subscription Key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete employee variable concept successfully",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          },
          "400": {
            "description": "Invalid input parameters",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": { },
              "text/json": { },
              "application/xml": { },
              "text/xml": { }
            }
          }
        }
      },
      "get": {
        "tags": [
          "companies"
        ],
        "summary": "Gets employee variable concept (Auth)",
        "description": "GET /api/companies/258/employees/000049/variableconcept/25C3D5F6-4BC5-42FD-9610-0000EA087647<br />",
        "operationId": "EmployeesVariableConcepts_GetVariableConcept",
        "parameters": [
          {
            "name": "companycode",
            "in": "path",
            "description": "Format - int32. Company code",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "employeecode",
            "in": "path",
            "description": "Employee code",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "variableconceptcode",
            "in": "path",
            "description": "variable concept code",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Format - int32. Page size",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Format - int32. Page number",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Format - date-time (as date-time in RFC3339). start date (optional)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "api-version",
            "in": "header",
            "description": "Api version",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "Subscription Key",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns employee variable concept",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VariableConceptsResourceArray"
                },
                "example": [
                  {
                    "conceptCode": "string",
                    "startDate": "string",
                    "endDate": "string",
                    "collectionDate": "string",
                    "payTypeId": 0,
                    "amount": 0,
                    "units": 0,
                    "prorateInPaySections": true,
                    "attribution": "string",
                    "enrolmentDropProrate": true,
                    "variableConceptID": "00000000-0000-0000-0000-000000000000"
                  }
                ]
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/VariableConceptsResourceArray"
                },
                "example": [
                  {
                    "conceptCode": "string",
                    "startDate": "string",
                    "endDate": "string",
                    "collectionDate": "string",
                    "payTypeId": 0,
                    "amount": 0,
                    "units": 0,
                    "prorateInPaySections": true,
                    "attribution": "string",
                    "enrolmentDropProrate": true,
                    "variableConceptID": "00000000-0000-0000-0000-000000000000"
                  }
                ]
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/VariableConceptsResourceArray"
                },
                "example": "<VariableConceptsResourceArray> <conceptCode>string</conceptCode> <startDate>string</startDate> <endDate>string</endDate> <collectionDate>string</collectionDate> <payTypeId>0</payTypeId> <amount>0</amount> <units>0</units> <prorateInPaySections>true</prorateInPaySections> <attribution>string</attribution> <enrolmentDropProrate>true</enrolmentDropProrate> <variableConceptID>00000000-0000-0000-0000-000000000000</variableConceptID> </VariableConceptsResourceArray>"
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/VariableConceptsResourceArray"
                },
[...]
